body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    background-color: hsl(222, 26%, 31%);
    font-size: 32px;
    flex-direction: column;
}

#calculator{

}

h1{
    color: white;
    padding-bottom: 40px;
}

.themePicker{
    display: inline-block;
    width: 30px;
    height: 10px;
    background: white;
    border-radius: 20px;
}

#display{
    background-color: hsl(224, 36%, 15%);
    padding: 48px;
    margin-bottom: 24px;
    border-radius: 10px;
    text-align: end;
    vertical-align: middle;
    color: white;


}

#buttons{
    background-color: hsl(223, 31%, 20%);
    border-radius: 10px;
    padding: 20px;
    display: flow;
    justify-content: ;
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: space-evenly;
}

.button{
    border-radius: 10px;
    margin: 12px ;
    border: none;
    font-size: inherit;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    transition: background-color,  0.2s, box-shadow, 0.2s;

}

.small{
    width: 101px;
    height: 60px;
}

.big{
    width: 235px;
    height: 60px;
}

.white{
    background-color: hsl(30, 25%, 89%);
    box-shadow: 0px 5px 0px -1px hsl(28, 16%, 65%);
    color: hsl(223, 31%, 20%);
}

.white:hover{
    background-color: hsl(30, 25%, 93%);
    box-shadow: 0px 5px 0px -1px hsl(28, 16%, 69%);
}

.white + .toggle{
    color: hsl(6, 63%, 50%);
}

.blue{
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0px 5px 0px -1px hsl(224, 28%, 35%);
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    font-size: 22px;
}

.blue:hover{
    background-color: hsl(225, 21%, 53%);
    box-shadow: 0px 5px 0px -1px hsl(224, 28%, 39%);
}


.red{
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0px 5px 0px -1px hsl(6, 70%, 34%);
    text-transform: uppercase;
    color: hsl(0, 0%, 100%);
    font-size: 22px;
}

.red:hover{
    background-color: hsl(6, 63%, 54%);
    box-shadow: 0px 5px 0px -1px hsl(6, 70%, 38%);
}



.attribution {  position: fixed;
    bottom: 0; padding-bottom: 1vh; display: block; font-size: 8px; text-align: center; }
.attribution a { color: hsl(0, 0%, 100%); }
.attribution a:hover{color:hsl(0, 0%, 70%)}



@media (max-width: 640px) {

    #calculator{
        margin: 10vh 0;
    }

    h1{
        font-size: 7vw;
    }

    #display{
        padding: 8vw; 
        font-size: 7vw;
    }

    #buttons{
        width: 75vw;
        padding: 2vw;
    }

    .button{
        margin: 2vw 1vw;
        border-radius: 1.3vw;
    }

    .small{
        width: 15vw;
        height: 15vw;
    }

    .big{
        width: 32vw;
        height: 15vw;
    }

    .white{
        font-size: 7vw;
    }

    .blue, .red {
        font-size: 4vw;
    }

}










.theme1{
/* backgrounds */
color: hsl(222, 26%, 31%);
color: hsl(223, 31%, 20%);
color: hsl(224, 36%, 15%);

/* Keys */
color: hsl(225, 21%, 49%);
color: hsl(224, 28%, 35%);

color: hsl(6, 63%, 50%);
color: hsl(6, 70%, 34%);

color: hsl(30, 25%, 89%);
color: hsl(28, 16%, 65%);

/* text */
color: hsl(221, 14%, 31%);
color: hsl(0, 0, 100%);
}







# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Theme 1

#### Backgrounds

- Very dark desaturated blue (main background): hsl(222, 26%, 31%)
- Very dark desaturated blue (toggle background, keypad background): hsl(223, 31%, 20%)
- Very dark desaturated blue (screen background): hsl(224, 36%, 15%)

#### Keys

- Desaturated dark blue (key background): hsl(225, 21%, 49%)
- Desaturated dark blue (key shadow): hsl(224, 28%, 35%)

- Red (key background, toggle): hsl(6, 63%, 50%)
- Dark red (key shadow): hsl(6, 70%, 34%)

- Light grayish orange (key background): hsl(30, 25%, 89%)
- Grayish orange (key shadow): hsl(28, 16%, 65%)

#### Text

- Very dark grayish blue: hsl(221, 14%, 31%)
- White: hsl(0, 0, 100%)



### Theme 2

#### Backgrounds

- Light gray (main background): hsl(0, 0%, 90%)
- Grayish red (toggle background, keypad background): hsl(0, 5%, 81%)
- Very light gray (screen background): hsl(0, 0%, 93%)

#### Keys

- Dark moderate cyan (key background): hsl(185, 42%, 37%)
- Very dark cyan (key shadow): hsl(185, 58%, 25%)

- Orange (key background, toggle): hsl(25, 98%, 40%)
- Dark orange (key shadow): hsl(25, 99%, 27%)

- Light grayish yellow (key background): hsl(45, 7%, 89%)
- Dark grayish orange (key shadow): hsl(35, 11%, 61%)

#### Text

- Very dark grayish yellow: hsl(60, 10%, 19%)
- White (text): hsl(0, 0, 100%)




### Theme 3

#### Backgrounds

- Very dark violet (main background): hsl(268, 75%, 9%)
- Very dark violet (toggle background, keypad background, screen background): hsl(268, 71%, 12%)

#### Keys

- Dark violet (key background): hsl(281, 89%, 26%)
- Vivid magenta (key shadow): hsl(285, 91%, 52%)

- Pure cyan (key background, toggle): hsl(176, 100%, 44%)
- Soft cyan (key shadow): hsl(177, 92%, 70%)

- Very dark violet (key background): hsl(268, 47%, 21%)
- Dark magenta (key shadow): hsl(290, 70%, 36%)

#### Text

- Light yellow: hsl(52, 100%, 62%)
- Very dark blue: hsl(198, 20%, 13%)
- White (text): hsl(0, 0, 100%)

## Typography

### Body Copy

- Font size (numbers): 32px

### Font

- Family: [Spartan](https://fonts.google.com/specimen/Spartan)
- Weights: 700
