body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    font-size: 32px;
    flex-direction: column;
    transition: all 0.15s;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    margin-bottom: 20px;
}

#themeSection{
    display: flex;
    flex-direction: row;
}

#themeHeading{
    font-size: 15px;
    margin-top: 20px;
    margin-right: 20px;
    align-self: center;
    text-transform: uppercase;
}


#themeLabels{
    height: 26px;
    width: 71px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 13px;
}

#themePicker{
    height: 26px;
    width: 71px;
    border-radius: 15px;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10px;
}

.themePick{
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 0;
    background-color: hsla(0, 0%, 100%, 0);
}

#display{
    max-width: 558px;
    padding: 48px;
    margin-bottom: 24px;
    border-radius: 10px;
    text-align: end;
    vertical-align: middle;
    overflow: hidden;
}

#buttons{
    border-radius: 10px;
    padding: 20px;
    display: flow;
    justify-content: ;
    flex-direction: column;
}

.white + .buttonHighlight{
    color: hsl(6, 63%, 50%) !important;
}

.row{
    display: flex;
    justify-content: space-evenly;
}

.button{
    border-radius: 10px;
    margin: 12px ;
    border: none;
    font-size: inherit;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    transition: background-color,  0.2s, box-shadow, 0.2s;

}

.small{
    width: 101px;
    height: 60px;
}

.big{
    width: 235px;
    height: 60px;
}


.blue{
    text-transform: uppercase;
    font-size: 22px;
}

.red{
    text-transform: uppercase;
    font-size: 22px;
}

.attribution {  position: fixed;
    bottom: 0; padding-bottom: 1vh; display: block; font-size: 8px; text-align: center; }
.attribution a { color: hsl(0, 0%, 100%); }
.attribution a:hover{color:hsl(0, 0%, 70%)}



@media (max-width: 640px) {

    #calculator{
        margin: 10vh 0;
    }

    header{
        height: 4vh;
        margin-bottom: 2vh;
    }


    h1{
        font-size: 7vw;
    }

    #display{
        max-width: 80vh;
        padding: 7vw; 
        font-size: 7vw;
        margin-bottom: 2vh;
    }

    #buttons{
        width: 75vw;
        padding: 2vw;
    }

    .button{
        margin: 2vw 1vw;
        border-radius: 1.3vw;
    }

    .small{
        width: 15vw;
        max-width: 9vh;
        height: 15vw;
        max-height: 9vh;
    }

    .big{
        width: 32vw;
        max-width: 20vh;
        height: 15vw;
        max-height: 8vh;

    }

    .white{
        font-size: 6vw;
    }

    .blue, .red {
        font-size: 4vw;
    }
}