body{
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 100vh;
    text-align: center;
    justify-content: space-evenly;
}

.header{
    align-self: center;
    padding-bottom: 10px;
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;
}

h1{
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;
}

#stats{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: black;
    border: 20px solid black;
    box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.51)    ;
    border-radius: 10px;

}

.statContainer{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    text-align: center;
}

h2{
    font-size: 13px;
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
    color: white;
    margin-top: 1px;
}

.stat{
    width: 50px;
    height: 50px;
    border-radius: 7px;
    color: white;
    border: 1px solid white;
    font-family: 'Roboto Mono', monospace;
}

#level{
text-align: center;
vertical-align: middle;
}

#hold{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    overflow: hidden;
}

.holdRow{  
    display: flex;
    flex-direction: row;
    height: 25%;
}

.holdBox{
    width: 25%;
}






#startBtn{
    padding: 7px 14px;
    margin-bottom: 40px;
}


#game{
    align-self: center;
    display: flex;
    flex-direction: column;
    border: 20px solid black;
    box-shadow: 0px 0px 36px 0px rgba(0,0,0,0.51)    ;
    border-radius: 10px 50px 20px 40px;
}

#controls {
    align-self: center;
}

.row{
    display: flex;
    flex-direction: row;
}

/* .box + .hidden {
    background-color: whitesmoke;
} */

.box{
    height: 20px;
    width: 20px;
    background-color: black;
    margin: 0;
}

.active {
    background-color: ;
}

.filled{
    background-color: rgb(255, 255, 255);
}

.arrowBtn{
    width: 50px;
    height: 50px;
    margin: 3px 1px;
    border-radius: 10px;
}

.hidden {
    display: none;
    height: 0px;
}

@media (max-width: 640px) {
    .header{
    }
    
    body {
        flex-direction: column;
    }

    .box{
        width: 3vh;
        height: 3vh;
    }

    .arrowBtn{
        height: 5vh;
        width: 5vh;
        border-radius: 0.5vh;
    }
}