body{
    display: flex;
    flex-direction: row;
    align-content: center;
    height: 100vh;
    text-align: center;
    justify-content: space-evenly;
}

.header{
    align-self: center;
    margin-bottom: 10px;
}

h1{
    font-family: 'Shadows Into Light', cursive;
    font-size: 40px;

}
p{
    font-family: 'Open Sans', sans-serif;
}


#game{
    align-self: center;
    display: flex;
    flex-direction: column;
    border: 20px solid black;
    border-radius: 10px;
}

#controls {
    align-self: center;
}

.row{
    /* height: 22px;
    width: 220px; */
    display: flex;
    flex-direction: row;
}

.box + .hidden {
    background-color: whitesmoke;
}

.box{
    height: 20px;
    width: 20px;
    background-color: black;
    margin: 1px;
}

.active {
    background-color: ;
}

.filled{
    background-color: red;
}

.arrowBtn{
    width: 50px;
    height: 50px;
    margin: 3px 1px;
    border-radius: 10px;
}

.hidden {
    display: none;
    height: 0px;
}

@media (max-width: 640px) {
    .header{
    }
    
    body {
        flex-direction: column;
    }

    .box{
        width: 3vh;
        height: 3vh;
    }

    .arrowBtn{
        height: 5vh;
        width: 5vh;
        border-radius: 0.5vh;
    }
}